* {
    font-family: IRANSans;
}

Header {
    background-color: rgb(73, 9, 107);
    position: fixed;
        top: 0%;
        left: 0%;
        right: 0%;
}

Header > img {
    width: 100px;
    height: 100px;
    float: left;
}

Header > h2 {
    color: white;
    font-size: 30px;
    font-style: bold;
    float: left;
    margin-left: 60px;
}

Header > ul > li > a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

Header > ul > li {
    list-style: none;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 50px;
    float: left;
}

Header > ul > li > a:hover {
    border-radius: 5px;
    box-shadow: 1px 5px 8px black;
}

.submenu {
    text-decoration: none;
    color: black;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 0px;
    padding: 20px;
    background-color: rgb(0,0,0,0);
    list-style: none;
    font-size: 20px;
    width: 60px;
    height: 10px;
    position: relative;
    right: 60px;
    top: 60px;
}

.submenu a {
    text-decoration: none;
    color: currentColor;
}

.getsubmenu a:hover .submenu {
    color: white;
}